@media only screen and (max-width: 960px) {
    /* PROFILE RESPONSIVENESS */
    #profile-image {
        margin-bottom: 50px;
    }

    .profile-right {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* NAVBAR RESPONSIVENESS */
    nav {
        padding-right: 25px;
    }
    .menu, .menu-item {
        flex-direction: column;
        background-color: white;
    }
    .menu-item {
        display: none;
        margin-left: 2%;
        margin-top: 5px;
    }
    .menu-item img {
        display: none;
    }
    .Navbar_ToggleShow {
        display: flex;
    }
    .menu-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        margin-right: 5%;
    }
    .menu-logo {
        margin-left: 2%;
    }

    .menu-button {
        margin-bottom: 2%;
    }

    /* HERO RESPONSIVENESS */
    .hero-section {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }

    #hero-image {
        animation: none;
    }

    .hero-section-text {
        max-width: 40%;
    }

    .hero-section-text h1 {
        font-size: 42px;
    }

    /* PROFILE RESPONSIVENESS */
    .profile-content img {
        width: auto;
        height: 200px;
        margin-bottom: 50px;
        margin-top: 25px;
    }

    .profile-right {
        width: auto;
    }

    /* CONTACT RESPONSIVENESS */
    .contact-section {
        height: auto;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact-content button {
        margin-bottom: 25px;
    }

    .contact-content img {
        width: auto;
        height: auto;
        align-self: flex-start;
        margin-left: 25px;
    }

    .contact-left {
        margin-left: 25px;
        width: auto;
    }

    #first-name, #email {
        margin-bottom: 25px;
    }

    textarea {
        width: 265px;
    }
}

@media only screen and (max-width: 480px) {
    .hero-section {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
    }

    #hero-image {
        animation: none;
    }

    .hero-section-text h1 {
        font-size: 36px;
    }

    .slider-header {
        padding: 0;
    }

    .slider {
        width: auto;
        height: auto;
    }

    .footer-content, .footer-menu {
        /* display: flex; */
        flex-direction: column;
        /* align-items: center; */
    }

    .footer-contact {
        margin-left: 0;
        align-items: center;
    }

    .list-heading {
        margin-top: 10px;
    }
}