/* MAIN STYLES */
body {
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.submit-btn {
    width: 150px;
    height: 42px;
    background-color: #d9f0d0;
    color: #91d376;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.submit-btn:hover {
    background-color: #91d376;
    color: #d9f0d0;
    cursor: pointer;
}

/* NAV STYLES */
nav {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 100px;
    line-height: 100px;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu > li > a {
    font-weight: bolder;
    text-decoration: none;
    color: midnightblue;
    font-size: 18px;
}

.menu > li > a:hover {
    color: gray;
}

.menu > li > img,
.menu > li > a {
    vertical-align: middle;
    margin: 5px;
}

.menu-logo {
    margin-right: 75px;
}

.menu-toggle {
    display: none;
}

/* HERO STYLES */
.hero-section {
    height: 850px;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: inline-block;
}

#hero-image {
    width: 100%;
    animation: zoom 10s infinite alternate;
}

@keyframes zoom {
    0% {
        width: 100%;
    }
    100% {
        width: 110%;
    }
}

.hero-section-text {
    position: absolute;
    z-index: 98;
    margin-left: 50px;
    left: 0;
    text-align: left;
    top: 30%;
    width: 40%;
    color: white;
}

.hero-section-text h1 {
    font-size: 90px;
    margin-bottom: 0;
}

.hero-section-text p {
    font-size: 20px;
    line-height: 30px;
}

.play-button {
    display: flex;
}

.video-button {
    background: transparent;
    border: none;
    padding: 1px 6px 1px 6px;
    font-size: 24px;
}

.video-button > img {
    margin-right: 5px;
}

.video-button > img,
.video-button > p {
    vertical-align: middle;
}

/* PROFILE STYLES */
.profile-section {
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.profile-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;
    align-items: center;
}

.profile-content img {
    max-height: auto;
    width: 50%;
    margin-right: 2.5%;
}

.profile-right {
    max-height: auto;
    width: 40%;
    color: darkslategray;
    font-size: 18px;
    line-height: 28px;
}

.profile-right h1 {
    color: midnightblue;
    margin: 0;
    font-size: 48px;
    line-height: 52px;
    padding-right: 30%;
}

/* SLIDER STYLES */
.slider-section {
    background-color: whitesmoke;
    padding: 50px 0;
}

.slider {
    width: auto;
}

.slider-header {
    padding-left: 15%;
    padding-right: 15%;
}

.slider-header h1,
.slider-header p {
    display: flex;
    justify-content: center;
}

.slider-header h1 {
    color: midnightblue;
    font-size: 48px;
}

.slider-header p {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
}

.slide {
    display: flex;
    align-items: center;
    height: auto;
    overflow: hidden;
    border: solid whitesmoke 75px;
}

.slide-content {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: auto;
    padding: 0 50px;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.slide-content img {
    margin-right: 50px;
    min-width: 175px
}

.slide-right {
    height: auto;
    letter-spacing: .05em;
}

.slide-right h1 {
    color: midnightblue;
}

.sub-header {
    color: #91d376;
}

.slider-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.left {
    margin-right: 50px;
}

/* MAP STYLES */
#map {
    width: 100%;
    height: 650px;
    background-color: whitesmoke;
}

/* CONTAC STYLINGS */
.contact-section {
    height: 800px;
    overflow: hidden;
    display: flex;
    padding: 0;
    margin: 0;
}

.contact-content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-content img {
    max-width: 40%;
    min-width: 40%;
    width: auto;
    height: auto;
}

.contact-left {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: auto;
    color: darkslategray;
    font-size: 21px;
    line-height: 30px;
    width: auto;
}

.contact-left h1 {
    color: midnightblue;
    margin: 0;
    font-size: 48px;
    line-height: 52px;
}

.contact-left p {
    max-width: 600px;
}

.form-row {
    margin-bottom: 25px;
    width: auto;
}

input, textarea, select {
    font-family: 'Karla', sans-serif;
}

input {
    width: 275px;
    height: 50px;
    background-color: gainsboro;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding-left: 10px;
}

select, option {
    width: 285px;
    height: 50px;
    background-color: gainsboro;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding-left: 10px;
}

#first-name, #email {
    margin-right: 25px;
    margin-left: 0;
}

textarea {
    width: 580px;
    height: 100px;
    background-color: gainsboro;
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
    resize: none;
    font-weight: bold;
}

input::placeholder, textarea::placeholder {
    color: black;
    font-weight: bold;
}

/* FOOTER STYLES */
footer {
    background-color: midnightblue;
    width: 100%;
    height: auto;
    color: white;
    bottom: 0;
    margin: 0;
    padding: 50px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 19px;
}

footer ul li {
    color: gray;
    font-size: 18px;
}

.footer-content {
    align-items: center;
    margin-left: 20px;
}

.footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.list-heading {
    font-weight: 600px;
}

.address {
    color: white;
}

hr {
    width: 90%;
    border: thin;
    height: 1px;
    background-color: lightslategray;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}

.footer-contact ul {
    display: flex;
    justify-content: flex-start;
}

.footer-contact li {
    flex: 1 1 0;
}

.policy-terms > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 50px;
}

.policy-terms > a:hover {
    color: gray;
}

.social > li {
    margin-left: 25px;
}
